<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Sign In</title>
    </head>
    <body>
        <div class="body">
            <div class="header"> 
                <div class="logo-pos">
                    <a href="/">My Photo Blog</a>
                </div>
                <div class="other-links">
                    <ul>
                        <li><a href="/signup">Sign Up</a></li>
                        <li><a href="/signin">Sign In</a></li>
                        <li> <a href="/add">Add Pictures</a></li>
                    </ul>
                </div>
            </div>
            <div class="midder">
                <div class="write-up">
                    Spread your personality through visuals <br>
                    Sign In to add pictures you love <br>
                </div>
                <div class="form-pos">
                    <form class="form" method="post">
                        <label for="uname">Username:</label>
                        <input type="text" id="uname" name="uname"><br>
                        <label for="password">Password:</label>
                        <input type="password" id="pswrd" name="psword"><br>
                        <input type="submit" value="Submit">
                    </form>
                    <div>
                        Don't have an account yet? <button><a href="/signup">Sign Up</a></button>
                    </div>
                </div>
            </div>
            <div class="footer">
                <div class="quote">
                    {{.}}
                </div>
                <div class="copyright">
                    Copyright @Emmrys
                </div>
            </div>
        </div>

        <style>
            body {
                font-family: Arial, Helvetica, sans-serif;
                margin: 10px;
                height: 100vh;
            }

            label {
                display: inline-block;
                width: 100px;
            }

            .body {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }

            .header {
                background-color: #ffee00c7;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 20px;
            }

            ul {
                display: flex;
                list-style: none;
                align-items: center;
                gap: 20px;
            }

            a {
                text-decoration: none;
                color: black;
            }

            .footer {
                background-color: #ffee00c7;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            .midder {
                display: flex;
                height: 600px;
                justify-content: space-evenly;
                align-items: center;
            }

            .form-pos {
                border: 20px;
                border-radius: 3px;
                border-color: black;
                margin: 20px;
            }
        </style>
    </body>
</html>