<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Home</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="body">
            <div class="header"> 
                <div class="logo-pos">
                    <a href="/">My Photo Blog</a>
                </div>
                <div class="other-links">
                    <ul>
                        <li><a href="/signup">Sign Up</a></li>
                        <li><a href="/signin">Sign In</a></li>
                        <li> <a href="/add">Add Pictures</a></li>
                    </ul>
                </div>
            </div>
            <div class="pics"></div>
            <div class="footer">
                <div class="quote">
                    {{.}}
                </div>
                <div class="copyright">
                    Copyright @Emmrys
                </div>
            </div>
        </div>
    </body>
</html>