<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Sign Up</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="body">
            <div class="header"> 
                <div class="logo-pos">
                    <a href="/">My Photo Blog</a>
                </div>
                <div class="other-links">
                    <ul>
                        <li><a href="/signup">Sign Up</a></li>
                        <li><a href="/signin">Sign In</a></li>
                        <li> <a href="/add">Add Pictures</a></li>
                    </ul>
                </div>
            </div>
            <div class="midder">
                <div class="write-up">
                    Spread your personality through visuals <br>
                    Create your pic-folio <br>
                    Sign Up Today <br>
                </div>
                <div class="form-pos">
                    <form class="form" method="post">
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email"><br>
                        <label for="uname">Username:</label>
                        <input type="text" id="uname" name="username"><br>
                        <label for="password">Password:</label>
                        <input type="text" id="pswrd" name="password"><br>
                        <input type="submit" value="Submit">
                    </form>
                    <div>
                        Already have an account? <button><a href="/signin">Sign In</a></button>
                    </div>
                </div>
            </div>
            <div class="footer">
                <div class="quote">
                    {{.}}
                </div>
                <div class="copyright">
                    Copyright @Emmrys
                </div>
            </div>
        </div>
    </body>
</html>