<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Pictures</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
        <div class="body">
            <div class="header"> 
                <div class="logo-pos">
                    <a href="/view"><b>My Photo Blog</b></a>
                </div>
                <div class="other-links">
                    <ul>
                        <li><a href="/signup"><b>Sign Up</b></a></li>
                        <li><a href="/signin"><b>Sign In</b></a></li>
                        <li> <a href="/add"><b>Add Pictures</b></a></li>
                        <li> <a href="/logout"><b>Sign Out</b></a></li>
                    </ul>
                </div>
            </div>
            <div class="midder">
                <div class="write-up">
                    Building.... <br>
                    You're creating your pic-folio <br>
                    Your pictures speak about you! <br>
                </div>
                <div class="form-pos">
                    <form class="form" method="post" enctype="multipart/form-data">
                        <label for="pname">Picture name:</label>
                        <input type="text" id="pname" name="picname"><br>
                        <label for="desc">Description:</label>
                        <input type="text" id="desc" name="desc"><br>
                        <label for="pic">Add Picture: </label>
                        <input type="file" id="pic" name="pic" multiple><br>
                        <input type="submit" id="submit" value="Submit">
                    </form>
                </div>
            </div>
            <div class="footer">
                <div class="quote">
                    <div>
                        <b>“It is only when they go wrong that machines remind you how powerful they are.”</b>
                    </div>
                    <div class="author">
                        <em>- Clive James, Broadcaster and Journalist</em>
                    </div>
                </div>
                <div class="copyright">
                    Copyright @Emmrys
                </div>
            </div>
        </div>
    </body>
</html>