<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
        <div class="container">
            <header class="header">
                <div class="logo-pos">
                    <a href="/view"><b>My Photo Blog</b></a>
                </div>
                <ul class="nav">
                    <li><a href="/signup"><b>Sign Up</b></a></li>
                    <li><a href="/signin"><b>Sign In</b></a></li>
                    <li> <a href="/add"><b>Add Pictures</b></a></li>
                    <li> <a href="/logout"><b>Sign Out</b></a></li>
                </ul>
            </header>
            <section class="prompt">
                <h1> Express your personality with pictures you love</h1>
                <h3>See how it works </h3>
            </section>
            {{if .}}
            <div class="midder">
                {{range .}} 
                <div class="picpos">
                    <div class="img">
                        <img src="{{.Photop}}">
                    </div>
                    <div class="picinfo">    
                        <b> Title:</b>{{.Pname}} <br>
                        <b> Description:</b> {{.Desc}} <br>
                        <h6>Author: {{.Uname}} </h6>
                        <h6><a href="/delete?uname={{.Uname}}&pic={{.Photop}}">Delete</a><br>
                        <a href="/update?uname={{.Uname}}&pic={{.Photop}}">Update</a></h6>
                    </div>
                </div>
                {{end}}
            </div>
            {{end}}

            <footer class="footer">
                <div class="quote">
                    <div>
                        <b>“It has become appallingly obvious that our technology has exceeded our humanity.”</b>
                    </div>
                    <div class="author">
                        <em>- Albert Einstein, Scientist</em>
                    </div>
                </div>
                <div class="copyright">
                    Copyright @Emmrys
                </div>
            </footer>
        </div>
    </body>
</html>