@import url('https://fonts.googleapis.com/css2?family=Blaka&display=swap');

* {
    margin: 0;
    padding: 0;
    color: black;
}

body {
    height: 100%;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}


/* HEADER */

.header {
    padding: 10px;
    display: grid;
    grid-template-columns: 70% 30%;
    height: 20%;
}

.header .logo-pos {
    font-size: 50px;
    font-family: 'Blaka', cursive;
}

.nav {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    align-items: center;
}

.prompt {
    background-image: url(./images/background-image.jpg);
    height: 60%;
}

.footer {
    height: 20%;
}